fastapi
uvicorn

numpy
pillow
opencv-python
pytesseract

transformers
sentence-transformers
torch
scikit-learn
joblib
langdetect

requests
beautifulsoup4
streamlit
openai
python-multipart

nltk
redis
huggingface-hub
